<form role="form" novalidate name="signUp" class="padding">
    <div class="form-group">
        <label for="userName">Name</label>
        <input type="text"
               class="form-control"
               ng-model="user.name"
               name="userName"
               placeholder="Name"
               id="userName"
               required/>

        <div ng-show="signUp.$submitted || signUp.userName.$touched">
            <div ng-show="signUp.userName.$error.required">Name can't be blank</div>
        </div>
    </div>

    <div class="form-group">
        <label for="userEmail">Email</label>
        <input type="email"
               class="form-control"
               ng-model="user.email"
               name="userEmail"
               placeholder="Email"
               id="userEmail"
               required/>

        <div ng-show="signUp.$submitted || signUp.userEmail.$touched">
            <span ng-show="signUp.userEmail.$error.required">Tell us your email.</span>
            <span ng-show="signUp.userEmail.$error.email">Email is invalid or already taken</span>
        </div>
    </div>


    <div class="form-group">
        <label for="userAbout">About you</label>
        <textarea ng-model="user.about"
                      class="form-control"
                      name="userAbout"
                      rows="3"
                      id="userAbout"
                      placeholder="About">
        </textarea>
    </div>
    <input type="button"
           class="btn btn-default"
           ng-click="reset()"
           value="Reset"/>

    <input type="submit"
           class="btn btn-default"
           value="Submit"
           ng-disabled="signUp.userName.$error.required && signUp.userEmail.$error.required && signUp.userEmail.$error.email"
           ng-click="$ctrl.submit(user)"/>
</form>